body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: "Oswald", sans-serif;
  font-style: normal;

  // background-color: hsla(0, 0%, 0%, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

// @font-face {
//   font-weight: normal;
//   font-family: 'Oswald';
//   font-style: normal;
//   src: url('../fonts/Oswaldregular.woff2') format("woff2"),
//        url('../fonts/Oswaldregular.woff') format('woff');
// }

// @font-face {
//   font-weight: medium;
//   font-family: 'Oswald';
//   font-style: medium;
//   src: url('../fonts/Oswaldmedium.woff2') format('woff2'),
//        url('../fonts/Oswaldmedium.woff') format('woff');
// }

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
